.vacancy{
  display: flex;
  justify-content: space-between;
  padding: 32px 45px 32px 45px;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);

  .vacancy-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  a, h2, h3, p{
    text-decoration: none;
    color: #000;
  }

  .title {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  .vacancy-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;

    .vacancy-buttons{
      padding: 18px 0 18px 0;
      width: 420px;
    }
  }
}