.vacancy-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fff8f5;
    font-family: 'Arial', sans-serif;
    min-height: 87.5vh;
}

.vacancy-details {
    flex: 3;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vacancy-details h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333333;
}

.vacancy-details p {
    font-size: 16px;
    color: #555555;
    margin: 8px 0;
    width: 70%;
}

.vacancy-details strong {
    font-weight: bold;
    color: #000000;
}

.apply-button {
    display: block;
    width: 30%;
    background: #4a90e2; /* Синя кнопка */
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.apply-button:hover {
    background: #357abd; /* Темніший синій */
}

/* Схожі вакансії */
.similar-vacancies {
    flex: 2;
}

.similar-vacancies h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.similar-vacancies ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.short-vacancy {
    background-color: #ffe8e4; /* Світло-рожевий фон */
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.short-vacancy h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.short-vacancy p {
    font-size: 14px;
    color: #666666;
    margin: 5px 0;
}

.short-vacancy .view-details {
    display: inline-block;
    margin-top: 10px;
    color: #4a90e2;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
}

.short-vacancy .view-details:hover {
    color: #357abd;
}

#vacancy-description-text{
    width: 100%;
    overflow-y: auto;

    p, h1, h2, a, li {
        font-size: 20px;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 2px;
    }
    h1{
        font-size: 30px;
        letter-spacing: 3px;
    }
    h2{
        font-size: 25px;
        letter-spacing: 2.5px;
    }
}