.main-button {
    border: 1px #C4C3C3 solid;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-weight: 400;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    transition: background-color 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: #f6f6f6;
    }

    &.primary{
        background-color: #78C8F5;

        &:hover{
            background-color: #5fabd8;
        }
    }

    &.green{
        background-color: #6EB040;

        &:hover{
            background-color: #58912c;
        }
    }

    &.pink{
        background-color: #F99191;

        &:hover{
            background-color: #d16868;
        }
    }

    &.grey{
        background-color: #7B7D79;

        &:hover{
            background-color: #525552;
        }
    }
}